[submodule "mlpsuite_engine"]
	path = mlpsuite_engine
	url = git@github.com:bubikhonza/mlpsuite_engine.git
[submodule "mlpsuite_infrastructure"]
	path = mlpsuite_infrastructure
	url = git@github.com:bubikhonza/mlpsuite_infrastructure.git
